name: Build talloc for Multiple Architectures

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

env:
  TALLOC_VERSION: '2.4.0'

jobs:
  build-multi-arch:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, i686, aarch64, armv7l]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup QEMU for multi-arch
      uses: docker/setup-qemu-action@v3
    
    - name: Install cross-compilers
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          gcc-aarch64-linux-gnu \
          gcc-arm-linux-gnueabihf \
          gcc-i686-linux-gnu \
          gcc-multilib \
          wget
    
    - name: Download talloc
      run: |
        wget https://www.samba.org/ftp/talloc/talloc-${{ env.TALLOC_VERSION }}.tar.gz
        tar -xzf talloc-${{ env.TALLOC_VERSION }}.tar.gz
    
    - name: Build for ${{ matrix.arch }}
      run: |
        cd talloc-${{ env.TALLOC_VERSION }}
        
        case "${{ matrix.arch }}" in
          "x86_64")
            export CC="gcc"
            export HOST="x86_64-linux-gnu"
            export CFLAGS=""
            ;;
          "i686")
            export CC="i686-linux-gnu-gcc"
            export HOST="i686-linux-gnu"
            export CFLAGS="-m32"
            ;;
          "aarch64")
            export CC="aarch64-linux-gnu-gcc"
            export HOST="aarch64-linux-gnu"
            export CFLAGS=""
            ;;
          "armv7l")
            export CC="arm-linux-gnueabihf-gcc"
            export HOST="arm-linux-gnueabihf"
            export CFLAGS="-march=armv7-a -mfpu=neon"
            ;;
        esac
        
        ./configure \
          --host=$HOST \
          --disable-python \
          --prefix=$PWD/install/${{ matrix.arch }}
        
        make -j$(nproc)
        make install
        
        # Verify architecture
        file install/${{ matrix.arch }}/lib/libtalloc.* | head -1
    
    - name: Package artifacts
      run: |
        cd talloc-${{ env.TALLOC_VERSION }}
        tar -czf talloc-${{ env.TALLOC_VERSION }}-${{ matrix.arch }}-linux-gnu.tar.gz -C install/${{ matrix.arch }} .
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: talloc-${{ env.TALLOC_VERSION }}-${{ matrix.arch }}
        path: talloc-${{ env.TALLOC_VERSION }}/talloc-${{ env.TALLOC_VERSION }}-${{ matrix.arch }}-linux-gnu.tar.gz